{% extends 'base.html'%}

{% block content%}

  <div class="col-md-8 announcement-detail">
    <h1>{{announcement.title}}</h1>
    <p>{{announcement.content}}</p>

    {% if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'announcements:announcement_edit' pk=announcement.pk%}"><span class="fa fa-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'announcements:announcement_remove' pk=announcement.pk%}"><span class="fa fa-remove"></span></a>
    {% endif %}
  </div>

{% endblock%}
