body{
  font-family: 'Merriweather', serif;
}

.imagebackground{
  background-image: url('media/city-min.jpg');
  background-position: top;
  background-size: cover;
  background-repeat:repeat;
}

.navbar{
  background-color: white;
}

#custom-nav{color: grey;}
#custom-nav:hover{color: black;}


.centerstage{
  background-color: white;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 10px 40px 20px;
}

.welcome-wall{
  text-align: center;
  margin: auto;
  padding-bottom: 50px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 40px 20px;
}

.logo-index{
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 20px;
}

.indexfooter{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  opacity: .90;
  text-align: center;
  padding: 5px;
  font-size: .90em;
}

#post-page{
  margin: auto;
  background-color: white;
  padding: 40px;
}

.post-container{
  margin-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}


.posttitle{
  margin-top: 15px;
  font-size: 3em;
  text-align: center;
}

.postdate{
  text-align: center;
}

.post-contain{
  margin: auto;
  margin-top: 35px;
}

#post-link{
  color: black;
  margin-top: 5%;
}
#post-link:hover > .post{
  box-shadow: 0px 0px 20px 5px;
  background-color: #f2f2f2;
  z-index: 1;
  position: relative;
}
#post-link{
  text-decoration: none;
}
#post-link:visited{color: black;}

.post{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px;
}

#article-form{
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 30px;
  background-color: white;

}

.comment-form{
  margin: auto;
  margin-top: 5%;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 10px;
}

.confirm-delete{
  text-align: center;
  margin: auto;
  margin-top: 15%;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 5px;
}

.element{
  background-color: lighten(#0074d9, 20);
  opacity: .5;
  padding: 20px;
  color: rgba(255,255,255,.9);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}


.announcement{
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 2px;
}

.announcement-container{
  margin: auto;
  margin-top: 3%;
}


.announcement-link:hover > .announcement{
  box-shadow: 0px 0px 20px 5px;
  background-color: #f2f2f2;
  z-index: 1;
  position: relative;
}
.announcement-link:link{
  text-decoration: none;
  color: black;
}
.announcement-link:visited{color: black;}

.announcement-detail{
  padding: 30px;
  margin: auto;
  margin-top: 10%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 5px;
}

.announcement-form{
  margin: auto;
  margin-top: 3%;
  padding: 30px;
  background-color: white;
}

.announcement-delete{
  text-align: center;
  margin: auto;
  margin-top: 10%;
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 5px;
}

.sign-up{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 5px;
}

.login{
  margin: auto;
  margin-top: 14%;
  padding: 40px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 5px;
}
