{% extends 'base.html'%}

{% block content %}


    <h1 class="posttitle">{{article.title}}</h1>

    {%if article.published_date %}
      <div class="postdate">
        <br>
        <h4>Author: {{article.author}}</h4>
        {{article.published_date}}
      </div>
    {% else %}
       <a class="btn btn-outline-dark" href="{% url 'articles:article_publish' pk=article.pk%}">Publish</a>
    {% endif%}
    <div class="container">
      <div class="postcontent">
        <p>{{ article.text|safe|linebreaksbr}}</p>
      </div>

    </div>

    {% if user.is_superuser %}
      <a class="btn btn-primary" href="{% url 'articles:article_edit' pk=article.pk %}"><span class="fa fa-pencil"></span></a>
      <a class="btn btn-primary" href="{% url 'articles:article_remove' pk=article.pk %}"><span class="fa fa-remove"></span></a>
    {% endif %}

<hr>
<a class="btn btn-primary btn-comment" href="{% url 'articles:add_comment_to_article' pk=article.pk %}">Comment</a>

<div class="container">
  {% for comment in article.comments.all%}
  <br>
      {% if user.is_superuser or comment.approved_comments %}
          {% if not comment.approved_comments %}
              <a class="btn btn-primary" href="{% url 'articles:comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
              <a class="btn btn-primary" href="{% url 'articles:comment_approve' pk=comment.pk %}"><span class="fa fa-check"></span></a>
          {% endif %}
            Comment by: {{comment.author}}, on {{comment.created_date|date:'m/d/y'}}
          {{comment.text|safe|linebreaks }}



      {% endif %}
  {% empty %}
    <p>Be the first to comment!</p>
  {% endfor%}

</div>
{% endblock %}
